kind: Kustomization

labels:
- includeSelectors: false
  includeTemplates: true
  pairs:
    app.kubernetes.io/name: pgo
    app.kubernetes.io/version: 5.7.5
- includeSelectors: true
  includeTemplates: true
  pairs:
    postgres-operator.crunchydata.com/control-plane: postgres-operator

resources:
- ../crd
- ../rbac/namespace
- ../manager
# Uncomment the following to deploy CPK with STIG assessment
# - ../cpk/singlenamespace

components:
# - ../components/images-by-tag
- ../components/single-namespace
